/* Main */
* {
	overflow: visible;
}
body {
	min-height: 600px;
	margin: 0;
	min-width: 22000px;
	font-family: 'Microsoft YaHei';
	overflow-y: hidden;
	opacity: 0
}
h2 {
	font-family: 'Microsoft YaHei';
}
.page {
	float: left;
	display: inline-block;
	z-index: -1;
}
.pageContent {
	float: left;
	display: inline-block;
	padding: 5vh 5vh 5vh 80px;
	position: relative;
}
.info {
	float: left;
	display: inline-block;
	margin: 0 0 0 50px;
	font-size: 14px;
}
.intro {
	float: left;
	display: inline-block;
	width: 400px;
	font-size: 18px;
	word-wrap: break-word;
	padding: 10vh 10vh 10vh 100px;
	z-index: -1;
}
.article {
	float: left;
	display: inline-block;
	font-size: 14px;
	height: 450px;
	-moz-column-gap:40px; /* Firefox */
	-webkit-column-gap:40px; /* Safari and Chrome */
	column-gap:40px;
	-moz-column-width:300px; /* Firefox */
	-webkit-column-width:300px; /* Safari and Chrome */
	column-width:300px;
	transition: 0.1s all ease-out;
	z-index: -1;
}
.svg {
	position: relative;
	transition: all 0.2s ease;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.scale:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
}
.scaleBig:hover {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	transform: scale(1.5);
}
/* Content */
#intro1 {
	background: #E8F5FD;
}
#intro2 {
	background: #DCFFDF;
}
#intro3 {
	background: #FFCAD4;
}
#intro4 {
	background: #FFD3C0;
}
#intro5 {
	background: #B0FFD5;
}
#page0 {
	float: left;
	display:inline-block;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
#ending {
	width: 400px;
	background: url(../img/background.svg);
	overflow: hidden;
}
#titleImage {
	width: 660px;
	height: 500px;
	left: 50%;
	margin: 0 0 0 -330px;
	top: 10%;
	position: absolute;
	z-index: 0;
}
#titleDecoration {
	z-index: -10;
}
.stripesAnimation {
	stroke-dasharray: 1210;
	stroke-dashoffset: 1210;
	-webkit-animation: dash 3s linear 0s 1 normal forwards;
	animation: dash 3s linear 0s 1 normal forwards;
}
@-webkit-keyframes dash {
	from {
		stroke-dashoffset: 1210;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes dash {
	from {
		stroke-dashoffset: 1210;
	}
	to {
		stroke-dashoffset: 0;
	}
}
/* Player */
#player {
	width: 250px;
	height: 50px;
	left: 50%;
	margin: 0 0 0 -125px;
	position: fixed;
	z-index: 10;
	transition: 0.5s all ease;
}
#playerControls {
	margin-top: 5.5%;
	left: 30px;
	position: relative;
	z-index: 10;
}
#playerControls img {
	position: relative;
	height: 25px;
}
#playerPlayPause {
	float: left;
	width: 20px;
	height: 22px;
	overflow: hidden;
	cursor: pointer;
	z-index: 10;
}
#playerNext {
	float: left;
	width: 20px;
	height: 22px;
	margin: 0 0 0 5px;
	overflow: hidden;
	cursor: pointer;
	z-index: 10;
}
#playerMute {
	float: left;
	margin: 0 0 0 10px;
	width: 19px;
	height: 23px;
	overflow: hidden;
	cursor: pointer;
	z-index: 10;
}
#playerSongName {
	float: left;
	width: 100px;
	margin: 0 0 0 10px;
	color: #E3087B;
	position: relative;
	z-index: 10;
}
#playerOutline {
	position: absolute;
	z-index: 9;
}
#playerBackground {
	position: absolute;
	z-index: 8;
}
/* Navigation */
#navContainer {
	position: fixed;
	z-index: 10;
	left: 50%;
	margin: 0 0 0 -110px;
	bottom: 20px;
	z-index: 2;
}
.nav {
	float: left;
	display: inline-block;
	margin: 5px;
	width: 17px;
	height: 17px;
	border-radius: 1000px;
	border: solid 4px;
	transition: all 0.1s ease-in-out;
}
.nav:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
}
#nav0 {
	border-color: #E6067C;
}
#nav0:hover {
	background: #E6067C;
}
#nav1 {
	border-color: #2980B9;
}
#nav1:hover {
	background: #2980B9;
}
#nav2 {
	border-color: #39B54A;
}
#nav2:hover {
	background: #39B54A;
}
#nav3 {
	border-color: #EA2E49;
}
#nav3:hover {
	background: #EA2E49;
}
#nav4 {
	border-color: #C24704;
}
#nav4:hover {
	background: #C24704;
}
#nav5 {
	border-color: #00994C;
}
#nav5:hover {
	background: #00994C;
}
.arrow {
	transition: 0.5s all ease-in-out;
}
#arrowRight {
	left: 90vw;
	top: 40vh;
	position: fixed;
	cursor: pointer;
	z-index: 1;
}
#arrowLeft {
	left: 1vw;
	top: 40vh;
	position: fixed;
	cursor: pointer;
	z-index: 1;
}
/* SVGs */
#background {
	background: url(../img/background.svg);
	top: 0;
	position: absolute;
	z-index: -3;
}
#title {
	top: 30%;
	left: 50%;
	margin: 0 0 0 -250px;
	position: absolute;
	z-index: -1;
}
#stripes {
	top: -188px;
	left: 181px;
	position: absolute;
	z-index: -2;
}
#logo {
	margin: 20px;
	position: absolute;
	left: 0;
	z-index: 10;
}
#logo:hover path {
	fill: #0086CD;
}