/* Main */
* {
	overflow: visible;
}
body {
	min-height: 600px;
	margin: 0;
	width: 30000px;
	font-family: 'Microsoft YaHei';
	overflow-y: hidden;
	opacity: 0
}
p {
	text-indent: 2em;
	margin: 0;
}
h2 {
	font-family: 'Microsoft Yahei';
}
.page {
	float: left;
	min-height: 600px;
}
.pageContent {
	float:left;
	padding: 5vh 5vh 5vh 100px;
}
.info {
	float: left;
	margin: 0 0 0 50px;
	font-size: 14px;
}
.intro {
	float: left;
	display: inline-block;
	width: 400px;
	font-size: 18px;
	word-wrap: break-word;
	padding: 10vh 10vh 10vh 150px;
	z-index: -1;
}
.article {
	float:left;
	display: inline-block;
	font-size: 14px;
	height: 480px;
	-moz-column-gap:40px; /* Firefox */
	-webkit-column-gap:40px; /* Safari and Chrome */
	column-gap:40px;
	-moz-column-width:300px; /* Firefox */
	-webkit-column-width:300px; /* Safari and Chrome */
	column-width:300px;
	-moz-transform-origin: 0 0; /* Firefox */
	-webkit-transform-origin: 0 0; /* Safari and Chrome */
	transform-origin: 0 0;
	transition: 0.1s all ease-out;
}
/* Content */
#intro1 {
	background: #E8F5FD;
}
#intro2 {
	background: #DCFFDF;
}
#intro3 {
	background: #FFCAD4;
}
#intro4 {
	background: #FFD3C0;
}
#page0 {
	position: relative;
	overflow: hidden;
	z-index: 0;
}
/* Player */
#player {
	width: 250px;
	height: 50px;
	left: 50%;
	margin: 0 0 0 -125px;
	position: fixed;
	z-index: 10;
	transition: 0.05s all ease-out;
}
#playerControls {
	margin-top: 5.5%;
	left: 30px;
	position: relative;
	z-index: 1;
}
#playerPlayPause {
	background: url(../img/playerControls.svg) -20px -1px no-repeat;
	width: 20px;
	height: 25px;
	cursor: pointer;
	position: absolute;
	z-index: 1;
}
#playerNext {
	background: url(../img/playerControls.svg) -40px no-repeat;
	width: 20px;
	height: 25px;
	margin: 0 0 0 25px;
	cursor: pointer;
	position: absolute;
}
#playerMute {
	background: url(../img/playerControls.svg) -60px -1px no-repeat;
	width: 20px;
	height: 25px;
	margin: 0 0 0 170px;
	position: absolute;
	z-index: 2;
	cursor: pointer;
}
#playerSongName {
	width: 100px;
	margin: 0 0 0 60px;
	color: #E3087B;
	position: relative;
	z-index: 0;
}
#playerOutline {
	position: fixed;
	z-index: -1;
}
#playerBackground {
	position: fixed;
	z-index: -2;
}
/* Nav */
#nav {
	position: fixed;
	z-index: 10;
	left: 50%;
	margin: 0 0 0 -90px;
	top: 92vh;
}
.nav {
	margin: 3px;
	z-index: 1;
}
#nav0 path {
	fill: #EA2E49;
}
#nav1 path {
	fill: #2980B9;
}
#nav2 path {
	fill: #EA2E49;
}
#nav3 path {
	fill: #39B54A;
}
#nav4 path {
	fill: #C24704;
}
#nav5 path {
	fill: #FF8900;
}
/* SVGs */
#svg_background {
	position: absolute;
	z-index: -3
}
#titleImage {
	background: url(../img/titleImage.svg);
	width: 660px;
	height: 500px;
	left: 50%;
	margin: 0 0 0 -330px;
	top: 10%;
	position: absolute;
	z-index: 0;
}
#title {
	top: 30%;
	left: 50%;
	margin: 0 0 0 -250px;
	position: absolute;
	z-index: -1;
}
#stripes {
	top: -190px;
	left: 180px;
	position: absolute;
	z-index: -2;
}
#logo {
	margin: 20px;
	position: absolute;
	z-index: 10;
}
#logo:hover path {
	fill: #0086CD;
}
#svg_arrowRight {
	background: url(../img/arrowRight.svg);
	left: 90vw;
	width: 80px;
	height: 100px;
	top: 40vh;
	position: fixed;
	cursor: pointer;
	z-index: 10;
}
#svg_arrowLeft {
	background: url(../img/arrowLeft.svg);
	left: 1vw;
	width: 80px;
	height: 100px;
	top: 40vh;
	position: fixed;
	cursor: pointer;
	display: none;
	z-index: 10;
}
#svg_arrowLeft:hover {
	background: url(../img/arrowLeft_hover.svg);
}
#svg_arrowRight:hover {
	background: url(../img/arrowRight_hover.svg);
}