/* Main */
* {
	overflow: visible;
	-moz-transform-origin: 0 0; /* Firefox */
	-webkit-transform-origin: 0 0; /* Safari and Chrome */
	transform-origin: 0 0;
}
body {
	min-height: 600px;
	margin: 0;
	min-width: 22000px;
	font-family: 'Microsoft YaHei';
	overflow-y: hidden;
	opacity: 0
}
h2 {
	font-family: 'Microsoft Yahei';
}
.page {
	float: left;
	display: inline-block;
}
.pageContent {
	float:left;
	display: inline-block;
	padding: 5vh 5vh 5vh 100px;
}
.info {
	float: left;
	display: inline-block;
	margin: 0 0 0 50px;
	font-size: 14px;
}
.intro {
	float: left;
	display: inline-block;
	width: 400px;
	font-size: 18px;
	word-wrap: break-word;
	padding: 10vh 10vh 10vh 150px;
	z-index: -1;
}
.article {
	float: left;
	display: inline-block;
	font-size: 14px;
	height: 450px;
	-moz-column-gap:40px; /* Firefox */
	-webkit-column-gap:40px; /* Safari and Chrome */
	column-gap:40px;
	-moz-column-width:300px; /* Firefox */
	-webkit-column-width:300px; /* Safari and Chrome */
	column-width:300px;
	transition: 0.1s all ease-out;
}
/* Content */
#intro1 {
	background: #E8F5FD;
}
#intro2 {
	background: #DCFFDF;
}
#intro3 {
	background: #FFCAD4;
}
#intro4 {
	background: #FFD3C0;
}
#intro5 {
	background: #B0FFD5;
}
#page0 {
	float: left;
	display:inline-block;
	position: relative;
	overflow: hidden;
	z-index: 0;
}
#ending {
	width: 400px;
	background: url(../img/background.svg);
	overflow: hidden;
}
/* Player */
#player {
	width: 250px;
	height: 50px;
	left: 50%;
	margin: 0 0 0 -125px;
	position: fixed;
	z-index: 1;
}
#playerControls {
	margin-top: 5.5%;
	left: 30px;
	position: relative;
	z-index: 2;
}
#playerPlayPause {
	background: url(../img/playerControls.svg) -20px -1px no-repeat;
	width: 20px;
	height: 25px;
	cursor: pointer;
	position: absolute;
	z-index: 3;
}
#playerNext {
	background: url(../img/playerControls.svg) -40px no-repeat;
	width: 20px;
	height: 25px;
	margin: 0 0 0 25px;
	cursor: pointer;
	position: absolute;
	z-index: 3;
}
#playerMute {
	background: url(../img/playerControls.svg) -60px -1px no-repeat;
	width: 20px;
	height: 25px;
	margin: 0 0 0 170px;
	position: absolute;
	cursor: pointer;
	z-index: 3;
}
#playerSongName {
	width: 100px;
	margin: 0 0 0 60px;
	color: #E3087B;
	position: relative;
	z-index: 3;
}
#playerOutline {
	position: fixed;
	z-index: 1;
}
#playerBackground {
	position: fixed;
	z-index: -1;
}
/* Nav */
#navContainer {
	position: fixed;
	z-index: 10;
	left: 50%;
	margin: 0 0 0 -110px;
}
.nav {
	float: left;
	display: inline-block;
	margin: 5px;
	width: 17px;
	height: 17px;
	border-radius: 1000px;
	border: solid 4px;
	transition: all 0.1s ease-in-out;
}
#nav0 {
	border-color: rgb(230, 6, 124);
}
#nav0:hover {
	background: rgb(230, 6, 124);
}
#nav1 {
	border-color: rgb(41, 128, 185);
}
#nav1:hover {
	background: rgb(41, 128, 185);
}
#nav2 {
	border-color: rgb(57, 181, 74);
}
#nav2:hover {
	background: rgb(57, 181, 74);
}
#nav3 {
	border-color: rgb(234, 46, 73);
}
#nav3:hover {
	background: rgb(234, 46, 73);
}
#nav4 {
	border-color: rgb(194, 71, 4);
}
#nav4:hover {
	background: rgb(194, 71, 4);
}
#nav5 {
	border-color: rgb(0, 153, 76);
}
#nav5:hover {
	background: rgb(0, 153, 76);
}
/* SVGs */
#background {
	background: url(../img/background.svg);
	top: 0;
	position: absolute;
	z-index: -3
}
#titleImage {
	background: url(../img/titleImage.svg);
	width: 660px;
	height: 500px;
	left: 50%;
	margin: 0 0 0 -330px;
	top: 10%;
	position: absolute;
	z-index: 0;
}
#title {
	top: 30%;
	left: 50%;
	margin: 0 0 0 -250px;
	position: absolute;
	z-index: -1;
}
#stripes {
	top: -190px;
	left: 180px;
	position: absolute;
	z-index: -2;
}
#logo {
	margin: 20px;
	position: absolute;
	left: 0;
	z-index: 10;
}
#logo:hover path {
	fill: #0086CD;
}
#svg_arrowRight {
	background: url(../img/arrowRight.svg);
	left: 90vw;
	width: 80px;
	height: 100px;
	top: 40vh;
	position: fixed;
	cursor: pointer;
	z-index: 10;
}
#svg_arrowLeft {
	background: url(../img/arrowLeft.svg);
	left: 1vw;
	width: 80px;
	height: 100px;
	top: 40vh;
	position: fixed;
	cursor: pointer;
	display: none;
	z-index: 10;
}
#svg_arrowLeft:hover {
	background: url(../img/arrowLeft_hover.svg);
}
#svg_arrowRight:hover {
	background: url(../img/arrowRight_hover.svg);
}