/* Main */
body {
	min-height: 600px;
	margin: 0;
	width: 6000px;
	font-family: 'Microsoft YaHei';
	overflow-y: hidden;
}
.page {
	float: left;
	min-height: 600px;
}
#page1 {
	position: relative;
	overflow: hidden;
}
#page2 {
	width: 3000px;
	padding: 30px 0 0 30px;
}
/* Content */
.info {
	margin: 0 0 0 20px;
	font-size: 12px;
}
#svg_page1_title {
	background: url(../svg/page1_title.svg) no-repeat;
	background-size: 100%;
	width: 29.5vw;
	height: 32.0vh;
	top: 0;
}
/* Player */
#player {
	width: 250px;
	height: 50px;
	left: 50%;
	margin: 0 0 0 -125px;
	position: fixed;
	top: 422px;
}
#player_controls {
	margin-top: 5.5%;
	left: 30px;
	position: relative;
	z-index: 1;
}
#player_play-pause {
	background: url(../svg/player_controls.svg) -20px -1px;
	width: 20px;
	height: 25px;
	cursor: pointer;
	position: absolute;
}
#player_next {
	background: url(../svg/player_controls.svg) -40px;
	width: 20px;
	height: 25px;
	margin: 0 0 0 25px;
	cursor: pointer;
	position: absolute;
}
#player_mute {
	background: url(../svg/player_controls.svg) -60px -1px;
	width: 20px;
	height: 25px;

	margin: 0 0 0 170px;
		position: absolute;
}
#player_songName {
	margin: 0 0 0 60px;
	color: #E3087B;

}
/* SVGs */
#svg_player_outline {
	position: fixed;
	z-index: -1;
}
#svg_player_background {
	position: fixed;
	z-index: -2;
}
#svg_background {
	position: absolute;
	z-index: -3
}
#svg_titleImage {
	background: url(../svg/titleImage.svg);
	width: 660px;
	height: 500px;
	left: 50%;
	margin: 0 0 0 -330px;
	top: 5%;
	position: absolute;
	z-index: 0;
}
#svg_title {
	background: url(../svg/title.svg);
	width: 500px;
	height: 200px;
	top: 30%;
	left: 50%;
	margin: 0 0 0 -250px;
	position: absolute;
	z-index: -1;
}
#svg_stripes {
	background: url(../svg/stripes.svg);
	width: 460px;
	height: 590px;
	top: -190px;
	left: 180px;
	position: absolute;
	z-index: -2;
}
#svg_logo {
	margin: 10px;
	display: block;
	vertical-align: text-bottom;
	position: absolute;
	z-index: -1;
}
